html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/eot/iranyekanwebbold.eot');
  src: url('../fonts/eot/iranyekanwebbold.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-8 */ url('../fonts/woff/iranyekanwebbold.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/ttf/iranyekanwebbold.ttf')
      format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/eot/iranyekanwebthin.eot');
  src: url('../fonts/eot/iranyekanwebthin.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-8 */ url('../fonts/woff/iranyekanwebthin.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/ttf/iranyekanwebthin.ttf')
      format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/eot/iranyekanweblight.eot');
  src: url('../fonts/eot/iranyekanweblight.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-8 */ url('../fonts/woff/iranyekanweblight.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url('../fonts/ttf/iranyekanweblight.ttf') format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/eot/iranyekanwebregular.eot');
  src: url('../fonts/eot/iranyekanwebregular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-8 */ url('../fonts/woff/iranyekanwebregular.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url('../fonts/ttf/iranyekanwebregular.ttf') format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/eot/iranyekanwebmedium.eot');
  src: url('../fonts/eot/iranyekanwebmedium.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-8 */ url('../fonts/woff/iranyekanwebmedium.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url('../fonts/ttf/iranyekanwebmedium.ttf') format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/eot/iranyekanwebextrabold.eot');
  src: url('../fonts/eot/iranyekanwebextrabold.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-8 */ url('../fonts/woff/iranyekanwebextrabold.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url('../fonts/ttf/iranyekanwebextrabold.ttf') format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/eot/iranyekanwebblack.eot');
  src: url('../fonts/eot/iranyekanwebblack.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-8 */ url('../fonts/woff/iranyekanwebblack.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url('../fonts/ttf/iranyekanwebblack.ttf') format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 950;
  src: url('../fonts/eot/iranyekanwebextrablack.eot');
  src: url('../fonts/eot/iranyekanwebextrablack.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-8 */ url('../fonts/woff/iranyekanwebextrablack.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url('../fonts/ttf/iranyekanwebextrablack.ttf') format('truetype');
}
@font-face {
  font-family: 'Font Awesome 5 Pro';
  font-style: normal;
  font-weight: 300;
  font-display: auto;
  src: url('../fonts/fontawesome/fa-light-300.eot');
  src: url('../fonts/fontawesome/fa-light-300.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/fontawesome/fa-light-300.woff2') format('woff2'),
    url('../fonts/fontawesome/fa-light-300.woff') format('woff'),
    url('../fonts/fontawesome/fa-light-300.ttf') format('truetype'),
    url('../fonts/fontawesome/fa-light-300.svg#fontawesome') format('svg');
}

.fal {
  font-family: 'Font Awesome 5 Pro';
  font-weight: 300;
}
@font-face {
  font-family: 'Font Awesome 5 Pro';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url('../fonts/fontawesome/fa-regular-400.eot');
  src: url('../fonts/fontawesome/fa-regular-400.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/fontawesome/fa-regular-400.woff2') format('woff2'),
    url('../fonts/fontawesome/fa-regular-400.woff') format('woff'),
    url('../fonts/fontawesome/fa-regular-400.ttf') format('truetype'),
    url('../fonts/fontawesome/fa-regular-400.svg#fontawesome') format('svg');
}

.far {
  font-family: 'Font Awesome 5 Pro';
  font-weight: 400;
}
@font-face {
  font-family: 'Font Awesome 5 Pro';
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url('../fonts/fontawesome/fa-solid-900.eot');
  src: url('../fonts/fontawesome/fa-solid-900.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/fontawesome/fa-solid-900.woff2') format('woff2'),
    url('../fonts/fontawesome/fa-solid-900.woff') format('woff'),
    url('../fonts/fontawesome/fa-solid-900.ttf') format('truetype'),
    url('../fonts/fontawesome/fa-solid-900.svg#fontawesome') format('svg');
}

.fa,
.fas {
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
}
$margins: (0, 5, 10, 15, 20, 30, 40, 60, 70, 90, 120, 160, 180);
@each $margin in $margins {
  .mt--#{$margin} {
    margin-top: $margin + px;
  }
  .mb--#{$margin} {
    margin-bottom: $margin + px;
  }
  .ml--#{$margin} {
    margin-left: $margin + px;
  }
  .mr--#{$margin} {
    margin-right: $margin + px;
  }
  .m--#{$margin} {
    margin: $margin + px;
  }
}

$paddings: (0, 5, 10, 15, 20, 30, 40, 60, 90, 120, 160, 180);
@each $padding in $paddings {
  .pt--#{$padding} {
    padding-top: $padding + px;
  }
  .pb--#{$padding} {
    padding-bottom: $padding + px;
  }
  .pl--#{$padding} {
    padding-left: $padding + px;
  }
  .pr--#{$padding} {
    padding-right: $padding + px;
  }
  .p--#{$padding} {
    padding: $padding + px;
  }
}

a {
  text-decoration: none !important;
  transition: all 300ms ease-in-out;
}
$accent: #0037ff;
$accent-light: #007bff;
$ink: #33373a;
$ink-lightest: #868e96;
$transition: all 100ms ease-in-out;
body {
  font-family: 'iranyekan';
}
.container-fluid {
  padding: 0;
}
.cta {
  display: block;
  color: white;
  background: linear-gradient(-45deg, $accent, $accent-light);
  border-radius: 50px;
  padding: 20px 30px;
  margin: 40px auto;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  width: 180px;
  text-decoration: none;
  &:hover {
    color: white;
    background: linear-gradient(-45deg, $accent-light, $accent-light);
    box-shadow: 0px 3px 16px 4px rgba(0, 0, 0, 0.2);
  }
}
.cta-secondary {
  display: block;
  color: $accent-light;
  background: white;
  border: 1px solid $accent-light;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 40px auto;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  width: 200px;
  text-decoration: none;
  &:hover {
    color: white;
    background: $accent-light;
    border: 1px solid $accent-light;
    box-shadow: 0px 3px 16px 4px rgba(0, 0, 0, 0.2);
  }
}
.cta-secondary-contrast {
  display: block;
  color: white;
  border: 1px solid white;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 40px auto;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  width: 200px;
  text-decoration: none;
  &:hover {
    color: $accent-light;
    background: white;
    border: 1px solid white;
    box-shadow: 0px 3px 16px 4px rgba(0, 0, 0, 0.2);
  }
}
.secondary-cta {
  display: block;
  color: $accent;
  background: white;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 40px auto;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  width: 180px;
  text-decoration: none;
  &:hover {
    color: $accent;
    background: linear-gradient(-45deg, white, #ededed);
  }
}

#hero {
  //   background-color: #ededed;
  background: url('../img/hero-bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100% !important;
  padding: 30px;
  .flex-hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    padding: 20px;
    @media (max-width: 767px) {
      flex-direction: column;
    }
  }
  .texts-container {
    text-align: center;
    width: 500px;
    margin-bottom: 60px;
    @media (max-width: 425px) {
      width: 300px;
    }
    .title {
      color: $accent;
      font-size: 38px;
      font-weight: 800;
      text-align: right;
      @media (max-width: 425px) {
        font-size: 32px;
        margin: 0;
      }
    }
    .subtitle {
      color: $ink;
      font-size: 19px;
      line-height: 1.6em;
      font-weight: normal;
      text-align: right;
      margin-top: 20px;
      @media (max-width: 425px) {
        font-size: 16px;
      }
    }
  }
  .arrow-row {
    margin-top: -120px;
    @media (max-width: 425px) {
      display: none;
    }
  }
  .arrow {
    width: 150px;
    display: block;
    margin: 10px auto;
    margin: -40px auto;
    transform: rotate(90deg);
    padding: 30px;
  }
  .image-container {
    .image {
      width: 500px;
      @media (max-width: 425px) {
        width: 300px;
      }
    }
  }
  .video-js {
    outline: none !important;
    display: block;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    margin: 0 auto;
    border-radius: 20px;
    width: 700px;
    box-shadow: $accent-light;
    @media (max-width: 767px) {
      width: 400px;
    }
    @media (max-width: 425px) {
      width: 390px;
    }
    @media (max-width: 375px) {
      width: 300px;
    }
  }
}

#steps {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 20px;
  padding-left: 20px;
  @media (max-width: 425px) {
    padding-top: 20px;
  }
  .section-title {
    text-align: center;
    color: $ink;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .section-subtitle {
    text-align: center;
    color: $ink;
    font-size: 16px;
    font-weight: 300;
  }
  .cards-container {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    .each-card {
      border-radius: 20px;
      margin: 15px;
      width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      align-self: center;
      padding: 40px;
      transition: $transition;
      position: relative;
      overflow: hidden;
      .title {
        display: block;
        text-align: center;
        color: $ink;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 20px;
        transition: $transition;
      }
      .desc {
        display: block;
        text-align: center;
        color: $ink;
        font-size: 14px;
        font-weight: 300;
        transition: $transition;
      }
      .icon {
        display: block;
        font-size: 40px;
        margin: 0 auto;
        color: $accent-light;
        margin-bottom: 20px;
        transition: $transition;
      }
      .number {
        color: $accent-light;
        margin-bottom: 20px;
        text-align: center;
        display: inline-block;
        transition: $transition;
        border: 2px solid $accent-light;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        line-height: 37px;
        font-weight: bold;
      }
    }
  }
}

#test-example {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 20px;
  padding-left: 20px;
  background: linear-gradient(-45deg, $accent, $accent-light);
  margin-bottom: 0;
  .section-title {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .section-subtitle {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.9em;
  }
  .mb-button {
    margin-bottom: 0 !important;
  }
}

#testimonials {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 20px;
  padding-left: 20px;
  .section-title {
    text-align: center;
    color: $ink;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .section-subtitle {
    text-align: center;
    color: $ink;
    font-size: 16px;
    font-weight: 300;
  }
  .each {
    border: 1px solid #ededed;
    border-radius: 20px;
    padding: 40px;
    background-color: white;
    .testimonial-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: white;
      .logo {
        width: 80px;
        &.profile {
          border-radius: 50%;
        }
      }
      .texts {
        text-align: right;
        .title {
          color: $ink;
          font-weight: bold;
          text-align: right;
        }
        .subtitle {
          color: $accent-light;
          font-weight: 300;
          text-align: right;
          font-size: 14px;
          font-weight: bold;
          &.second {
            font-weight: 100;
          }
        }
      }
    }
    .p_container {
      .desc {
        color: $ink;
        font-size: 16px;
        line-height: 1.8em;
        text-align: right;
        font-weight: 300;
        &.long {
          font-size: 12px;
          line-height: 1.6em;
        }
        &.short {
          font-size: 17px;
          line-height: 2em;
        }
        &.english {
          text-align: left;
          direction: ltr;
        }
      }
    }
  }
}

#teams {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 300px;
  padding-left: 300px;
  @media (max-width: 1440px) {
    padding-right: 60px;
    padding-left: 60px;
  }
  @media (max-width: 1024px) {
    padding-right: 20px;
    padding-left: 20px;
  }
  @media (max-width: 768px) {
    padding-right: 20px;
    padding-left: 20px;
  }
  .section-title {
    text-align: center;
    color: $ink;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 60px;
  }
  .image {
    display: block;
    margin: 25px auto;
    width: 500px;
    @media (max-width: 425px) {
      width: 280px;
    }
  }
  .flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-wrap: wrap;
    .each {
      margin: 15px;
      border: 1px solid #ededed;
      padding: 30px;
      text-align: center;
      width: 430px;
      border-radius: 20px;
      transition: $transition;
      @media (max-width: 425px) {
        width: 380px;
      }
      @media (max-width: 375px) {
        width: 300px;
      }
      .icon {
        font-size: 40px;
        color: $accent-light;
        margin-bottom: 30px;
      }
      .title {
        color: $ink;
        font-size: 16px;
        font-weight: bold;
      }
      .desc {
        color: $ink;
        font-size: 14px;
        font-weight: 300;
      }
      .link {
        color: $accent-light;
        font-size: 14px;
        display: block;
        margin: 10px auto;
        text-align: center;
        i {
          display: inline-block;
          font-size: 20px;
          margin-right: 10px;
          vertical-align: middle;
        }
      }
      &:hover {
        box-shadow: 0px 3px 16px 4px rgba(0, 0, 0, 0.04);
      }
    }
  }
}

#cards {
  padding-top: 60px;
  padding-bottom: 60px;
  .cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-wrap: wrap;
    .f-card {
      transition: $transition;
      border-radius: 20px;
      position: relative;
      margin-bottom: 30px;
      padding: 20px;
      width: 500px;
      margin: 20px;
      height: 300px;
      background: linear-gradient(-45deg, $accent, $accent-light);
      .title {
        text-align: right;
        font-weight: 800;
        color: white;
        transition: $transition;
      }
      .desc {
        text-align: right;
        font-weight: 300;
        color: white;
        padding-bottom: 60px;
        transition: $transition;
      }
      .image {
        width: 300px;
        position: absolute;
        top: -150px;
        left: -150px;
      }
      .link {
        color: white;
        position: absolute;
        left: 30px;
        bottom: 30px;
        i {
          display: inline-block;
          font-size: 20px;
          margin-right: 10px;
          vertical-align: middle;
        }
      }
      &:hover {
        box-shadow: 0px 3px 16px 4px rgba(0, 0, 0, 0.3);
      }
    }
  }
}

#features {
  padding-top: 120px;
  padding-bottom: 160px;
  @media (max-width: 425px) {
    padding-bottom: 20px;
  }
  background: url('../img/footer.svg');
  background-repeat: no-repeat;
  background-position: center;
  padding-right: 20px;
  padding-left: 20px;
  .section-title {
    text-align: center;
    color: $ink;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 60px;
  }
  .section-paragraph {
    text-align: center;
    color: $ink;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 60px;
  }
  .cards-container {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-wrap: wrap;
    .each-card {
      border: 1px solid #ededed;
      border-radius: 20px;
      background-color: white;
      margin: 15px;
      width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      align-self: center;
      padding: 40px;
      transition: $transition;
      height: 250px;
      .icon {
        font-size: 45px;
        color: $accent-light;
        text-align: center;
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
        transition: $transition;
      }
      .title {
        font-size: 16px;
        text-align: center;
        font-weight: 800;
        color: $ink;
        margin-bottom: 30px;
        transition: $transition;
      }
      .desc {
        font-size: 12px;
        font-weight: 300;
        color: $ink;
        text-align: center;
        transition: $transition;
      }
    }
  }
}

#blog {
  padding-top: 20px;
  padding-bottom: 60px;
  padding-right: 20px;
  padding-left: 20px;
  .section-title {
    text-align: center;
    color: $ink;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 60px;
  }
  .blog-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .blogpost {
      margin: 20px;
      border: 1px solid #ededed;
      padding-bottom: 15px;
      border-radius: 20px;
      width: 300px;
      height: 480px;
      @media (max-width: 425px) {
        width: 350px;
      }
      .image {
        width: 100%;
        border-radius: 20px 20px 0 0;
      }
      .blog-content {
        padding: 20px;
        .title {
          color: $ink;
          font-weight: 800;
          font-size: 16px;
          text-align: right;
          margin-top: 30px;
        }
        .desc {
          color: $ink;
          text-align: right;
          font-weight: 300;
          margin-bottom: 30px;
        }
      }
      .blogpost-footer {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding-right: 10px;
        padding-left: 10px;
        .date {
          color: $ink-lightest;
          display: inline-block;
          font-weight: 300;
        }
        .link {
          color: $accent-light;
          display: inline-block;
        }
      }
    }
  }
}

#customers {
  padding-top: 100px;
  padding-bottom: 100px;
  background: url('../img/middle.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  @media (max-width: 425px) {
    padding: 20px;
  }
  .section-title {
    text-align: center;
    color: $ink;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 60px;
  }
  .customers {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-wrap: wrap;
    .testimonial-link{
      .each {
        border: 1px solid #ededed;
        background-color: white;
        border-radius: 20px;
        padding: 20px;
        text-align: center;
        width: 300px;
        display: flex;
        align-items: center;
        margin: 15px;
        justify-content: space-between;
        transition: $transition;
        @media (max-width: 425px) {
          width: 150px;
          flex-direction: column;
          height: 180px;
        }
        .logo {
          width: 70px;
          transition: $transition;
          @media (max-width: 425px) {
            margin-bottom: 30px;
          }
        }
        .title {
          color: $ink-lightest;
          font-size: 14px;
          font-weight: 500;
          margin: 0;
        }
      }
      &:hover{
        .each{
          box-shadow: 0px 3px 16px 4px rgba(0, 0, 0, 0.04);
        }
      }
    }

  }
}

.owl-stage-outer {
  padding-top: 20px;
  padding-bottom: 20px;
}
.owl-carousel .owl-item.big div {
  z-index: 2;
}

.owl-carousel .owl-item.big .each {
  box-shadow: 0px 3px 16px 4px rgba(0, 0, 0, 0.04);
}

.owl-carousel .owl-item.medium div {
  // transform: scale(0.9) !important;
  position: relative;
  opacity: 0.8;
}
.nav_arrow {
  width: 25px;
  vertical-align: middle;
  padding: 2px;
}
.owl-theme .owl-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  @media(max-width: 425px){
    justify-content: space-between;
  }
}
.owl-theme .owl-nav [class*='owl-']:hover {
  outline: none;
}
.owl-theme .owl-nav {
  margin-bottom: 30px !important;
}
.owl-theme .owl-nav button {
  outline: none !important;
  background: rgba(0, 0, 0, 0.2) !important;
  border-radius: 50px !important;
  width: 40px !important;
  height: 40px !important;
  padding: 10px !important;
  display: block;
  margin: 0 auto;
}
.owl-theme .owl-dots .owl-dot {
  outline: none !important;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: $accent-light !important;
  outline: none !important;
}

