html,
body {
  max-width: 100%;
  overflow-x: hidden; }

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/eot/iranyekanwebbold.eot");
  src: url("../fonts/eot/iranyekanwebbold.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanwebbold.woff") format("woff"), url("../fonts/ttf/iranyekanwebbold.ttf") format("truetype"); }

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/eot/iranyekanwebthin.eot");
  src: url("../fonts/eot/iranyekanwebthin.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanwebthin.woff") format("woff"), url("../fonts/ttf/iranyekanwebthin.ttf") format("truetype"); }

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/eot/iranyekanweblight.eot");
  src: url("../fonts/eot/iranyekanweblight.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanweblight.woff") format("woff"), url("../fonts/ttf/iranyekanweblight.ttf") format("truetype"); }

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/eot/iranyekanwebregular.eot");
  src: url("../fonts/eot/iranyekanwebregular.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanwebregular.woff") format("woff"), url("../fonts/ttf/iranyekanwebregular.ttf") format("truetype"); }

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/eot/iranyekanwebmedium.eot");
  src: url("../fonts/eot/iranyekanwebmedium.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanwebmedium.woff") format("woff"), url("../fonts/ttf/iranyekanwebmedium.ttf") format("truetype"); }

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/eot/iranyekanwebextrabold.eot");
  src: url("../fonts/eot/iranyekanwebextrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanwebextrabold.woff") format("woff"), url("../fonts/ttf/iranyekanwebextrabold.ttf") format("truetype"); }

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/eot/iranyekanwebblack.eot");
  src: url("../fonts/eot/iranyekanwebblack.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanwebblack.woff") format("woff"), url("../fonts/ttf/iranyekanwebblack.ttf") format("truetype"); }

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 950;
  src: url("../fonts/eot/iranyekanwebextrablack.eot");
  src: url("../fonts/eot/iranyekanwebextrablack.eot?#iefix") format("embedded-opentype"), url("../fonts/woff/iranyekanwebextrablack.woff") format("woff"), url("../fonts/ttf/iranyekanwebextrablack.ttf") format("truetype"); }

@font-face {
  font-family: 'Font Awesome 5 Pro';
  font-style: normal;
  font-weight: 300;
  font-display: auto;
  src: url("../fonts/fontawesome/fa-light-300.eot");
  src: url("../fonts/fontawesome/fa-light-300.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome/fa-light-300.woff2") format("woff2"), url("../fonts/fontawesome/fa-light-300.woff") format("woff"), url("../fonts/fontawesome/fa-light-300.ttf") format("truetype"), url("../fonts/fontawesome/fa-light-300.svg#fontawesome") format("svg"); }

.fal {
  font-family: 'Font Awesome 5 Pro';
  font-weight: 300; }

@font-face {
  font-family: 'Font Awesome 5 Pro';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url("../fonts/fontawesome/fa-regular-400.eot");
  src: url("../fonts/fontawesome/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome/fa-regular-400.woff2") format("woff2"), url("../fonts/fontawesome/fa-regular-400.woff") format("woff"), url("../fonts/fontawesome/fa-regular-400.ttf") format("truetype"), url("../fonts/fontawesome/fa-regular-400.svg#fontawesome") format("svg"); }

.far {
  font-family: 'Font Awesome 5 Pro';
  font-weight: 400; }

@font-face {
  font-family: 'Font Awesome 5 Pro';
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url("../fonts/fontawesome/fa-solid-900.eot");
  src: url("../fonts/fontawesome/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome/fa-solid-900.woff2") format("woff2"), url("../fonts/fontawesome/fa-solid-900.woff") format("woff"), url("../fonts/fontawesome/fa-solid-900.ttf") format("truetype"), url("../fonts/fontawesome/fa-solid-900.svg#fontawesome") format("svg"); }

.fa,
.fas {
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900; }

.mt--0 {
  margin-top: 0px; }

.mb--0 {
  margin-bottom: 0px; }

.ml--0 {
  margin-left: 0px; }

.mr--0 {
  margin-right: 0px; }

.m--0 {
  margin: 0px; }

.mt--5 {
  margin-top: 5px; }

.mb--5 {
  margin-bottom: 5px; }

.ml--5 {
  margin-left: 5px; }

.mr--5 {
  margin-right: 5px; }

.m--5 {
  margin: 5px; }

.mt--10 {
  margin-top: 10px; }

.mb--10 {
  margin-bottom: 10px; }

.ml--10 {
  margin-left: 10px; }

.mr--10 {
  margin-right: 10px; }

.m--10 {
  margin: 10px; }

.mt--15 {
  margin-top: 15px; }

.mb--15 {
  margin-bottom: 15px; }

.ml--15 {
  margin-left: 15px; }

.mr--15 {
  margin-right: 15px; }

.m--15 {
  margin: 15px; }

.mt--20 {
  margin-top: 20px; }

.mb--20 {
  margin-bottom: 20px; }

.ml--20 {
  margin-left: 20px; }

.mr--20 {
  margin-right: 20px; }

.m--20 {
  margin: 20px; }

.mt--30 {
  margin-top: 30px; }

.mb--30 {
  margin-bottom: 30px; }

.ml--30 {
  margin-left: 30px; }

.mr--30 {
  margin-right: 30px; }

.m--30 {
  margin: 30px; }

.mt--40 {
  margin-top: 40px; }

.mb--40 {
  margin-bottom: 40px; }

.ml--40 {
  margin-left: 40px; }

.mr--40 {
  margin-right: 40px; }

.m--40 {
  margin: 40px; }

.mt--60 {
  margin-top: 60px; }

.mb--60 {
  margin-bottom: 60px; }

.ml--60 {
  margin-left: 60px; }

.mr--60 {
  margin-right: 60px; }

.m--60 {
  margin: 60px; }

.mt--70 {
  margin-top: 70px; }

.mb--70 {
  margin-bottom: 70px; }

.ml--70 {
  margin-left: 70px; }

.mr--70 {
  margin-right: 70px; }

.m--70 {
  margin: 70px; }

.mt--90 {
  margin-top: 90px; }

.mb--90 {
  margin-bottom: 90px; }

.ml--90 {
  margin-left: 90px; }

.mr--90 {
  margin-right: 90px; }

.m--90 {
  margin: 90px; }

.mt--120 {
  margin-top: 120px; }

.mb--120 {
  margin-bottom: 120px; }

.ml--120 {
  margin-left: 120px; }

.mr--120 {
  margin-right: 120px; }

.m--120 {
  margin: 120px; }

.mt--160 {
  margin-top: 160px; }

.mb--160 {
  margin-bottom: 160px; }

.ml--160 {
  margin-left: 160px; }

.mr--160 {
  margin-right: 160px; }

.m--160 {
  margin: 160px; }

.mt--180 {
  margin-top: 180px; }

.mb--180 {
  margin-bottom: 180px; }

.ml--180 {
  margin-left: 180px; }

.mr--180 {
  margin-right: 180px; }

.m--180 {
  margin: 180px; }

.pt--0 {
  padding-top: 0px; }

.pb--0 {
  padding-bottom: 0px; }

.pl--0 {
  padding-left: 0px; }

.pr--0 {
  padding-right: 0px; }

.p--0 {
  padding: 0px; }

.pt--5 {
  padding-top: 5px; }

.pb--5 {
  padding-bottom: 5px; }

.pl--5 {
  padding-left: 5px; }

.pr--5 {
  padding-right: 5px; }

.p--5 {
  padding: 5px; }

.pt--10 {
  padding-top: 10px; }

.pb--10 {
  padding-bottom: 10px; }

.pl--10 {
  padding-left: 10px; }

.pr--10 {
  padding-right: 10px; }

.p--10 {
  padding: 10px; }

.pt--15 {
  padding-top: 15px; }

.pb--15 {
  padding-bottom: 15px; }

.pl--15 {
  padding-left: 15px; }

.pr--15 {
  padding-right: 15px; }

.p--15 {
  padding: 15px; }

.pt--20 {
  padding-top: 20px; }

.pb--20 {
  padding-bottom: 20px; }

.pl--20 {
  padding-left: 20px; }

.pr--20 {
  padding-right: 20px; }

.p--20 {
  padding: 20px; }

.pt--30 {
  padding-top: 30px; }

.pb--30 {
  padding-bottom: 30px; }

.pl--30 {
  padding-left: 30px; }

.pr--30 {
  padding-right: 30px; }

.p--30 {
  padding: 30px; }

.pt--40 {
  padding-top: 40px; }

.pb--40 {
  padding-bottom: 40px; }

.pl--40 {
  padding-left: 40px; }

.pr--40 {
  padding-right: 40px; }

.p--40 {
  padding: 40px; }

.pt--60 {
  padding-top: 60px; }

.pb--60 {
  padding-bottom: 60px; }

.pl--60 {
  padding-left: 60px; }

.pr--60 {
  padding-right: 60px; }

.p--60 {
  padding: 60px; }

.pt--90 {
  padding-top: 90px; }

.pb--90 {
  padding-bottom: 90px; }

.pl--90 {
  padding-left: 90px; }

.pr--90 {
  padding-right: 90px; }

.p--90 {
  padding: 90px; }

.pt--120 {
  padding-top: 120px; }

.pb--120 {
  padding-bottom: 120px; }

.pl--120 {
  padding-left: 120px; }

.pr--120 {
  padding-right: 120px; }

.p--120 {
  padding: 120px; }

.pt--160 {
  padding-top: 160px; }

.pb--160 {
  padding-bottom: 160px; }

.pl--160 {
  padding-left: 160px; }

.pr--160 {
  padding-right: 160px; }

.p--160 {
  padding: 160px; }

.pt--180 {
  padding-top: 180px; }

.pb--180 {
  padding-bottom: 180px; }

.pl--180 {
  padding-left: 180px; }

.pr--180 {
  padding-right: 180px; }

.p--180 {
  padding: 180px; }

a {
  text-decoration: none !important;
  transition: all 300ms ease-in-out; }

body {
  font-family: 'iranyekan'; }

.container-fluid {
  padding: 0; }

.cta {
  display: block;
  color: white;
  background: linear-gradient(-45deg, #0037ff, #007bff);
  border-radius: 50px;
  padding: 20px 30px;
  margin: 40px auto;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  width: 180px;
  text-decoration: none; }
  .cta:hover {
    color: white;
    background: linear-gradient(-45deg, #007bff, #007bff);
    box-shadow: 0px 3px 16px 4px rgba(0, 0, 0, 0.2); }

.cta-secondary {
  display: block;
  color: #007bff;
  background: white;
  border: 1px solid #007bff;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 40px auto;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  width: 200px;
  text-decoration: none; }
  .cta-secondary:hover {
    color: white;
    background: #007bff;
    border: 1px solid #007bff;
    box-shadow: 0px 3px 16px 4px rgba(0, 0, 0, 0.2); }

.cta-secondary-contrast {
  display: block;
  color: white;
  border: 1px solid white;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 40px auto;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  width: 200px;
  text-decoration: none; }
  .cta-secondary-contrast:hover {
    color: #007bff;
    background: white;
    border: 1px solid white;
    box-shadow: 0px 3px 16px 4px rgba(0, 0, 0, 0.2); }

.secondary-cta {
  display: block;
  color: #0037ff;
  background: white;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 40px auto;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  width: 180px;
  text-decoration: none; }
  .secondary-cta:hover {
    color: #0037ff;
    background: linear-gradient(-45deg, white, #ededed); }

#hero {
  background: url("../img/hero-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100% !important;
  padding: 30px; }
  #hero .flex-hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    padding: 20px; }
    @media (max-width: 767px) {
      #hero .flex-hero {
        flex-direction: column; } }
  #hero .texts-container {
    text-align: center;
    width: 500px;
    margin-bottom: 60px; }
    @media (max-width: 425px) {
      #hero .texts-container {
        width: 300px; } }
    #hero .texts-container .title {
      color: #0037ff;
      font-size: 38px;
      font-weight: 800;
      text-align: right; }
      @media (max-width: 425px) {
        #hero .texts-container .title {
          font-size: 32px;
          margin: 0; } }
    #hero .texts-container .subtitle {
      color: #33373a;
      font-size: 19px;
      line-height: 1.6em;
      font-weight: normal;
      text-align: right;
      margin-top: 20px; }
      @media (max-width: 425px) {
        #hero .texts-container .subtitle {
          font-size: 16px; } }
  #hero .arrow-row {
    margin-top: -120px; }
    @media (max-width: 425px) {
      #hero .arrow-row {
        display: none; } }
  #hero .arrow {
    width: 150px;
    display: block;
    margin: 10px auto;
    margin: -40px auto;
    transform: rotate(90deg);
    padding: 30px; }
  #hero .image-container .image {
    width: 500px; }
    @media (max-width: 425px) {
      #hero .image-container .image {
        width: 300px; } }
  #hero .video-js {
    outline: none !important;
    display: block;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    margin: 0 auto;
    border-radius: 20px;
    width: 700px;
    box-shadow: #007bff; }
    @media (max-width: 767px) {
      #hero .video-js {
        width: 400px; } }
    @media (max-width: 425px) {
      #hero .video-js {
        width: 390px; } }
    @media (max-width: 375px) {
      #hero .video-js {
        width: 300px; } }

#steps {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 20px;
  padding-left: 20px; }
  @media (max-width: 425px) {
    #steps {
      padding-top: 20px; } }
  #steps .section-title {
    text-align: center;
    color: #33373a;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px; }
  #steps .section-subtitle {
    text-align: center;
    color: #33373a;
    font-size: 16px;
    font-weight: 300; }
  #steps .cards-container {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center; }
    #steps .cards-container .each-card {
      border-radius: 20px;
      margin: 15px;
      width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      align-self: center;
      padding: 40px;
      transition: all 100ms ease-in-out;
      position: relative;
      overflow: hidden; }
      #steps .cards-container .each-card .title {
        display: block;
        text-align: center;
        color: #33373a;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 20px;
        transition: all 100ms ease-in-out; }
      #steps .cards-container .each-card .desc {
        display: block;
        text-align: center;
        color: #33373a;
        font-size: 14px;
        font-weight: 300;
        transition: all 100ms ease-in-out; }
      #steps .cards-container .each-card .icon {
        display: block;
        font-size: 40px;
        margin: 0 auto;
        color: #007bff;
        margin-bottom: 20px;
        transition: all 100ms ease-in-out; }
      #steps .cards-container .each-card .number {
        color: #007bff;
        margin-bottom: 20px;
        text-align: center;
        display: inline-block;
        transition: all 100ms ease-in-out;
        border: 2px solid #007bff;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        line-height: 37px;
        font-weight: bold; }

#test-example {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 20px;
  padding-left: 20px;
  background: linear-gradient(-45deg, #0037ff, #007bff);
  margin-bottom: 0; }
  #test-example .section-title {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px; }
  #test-example .section-subtitle {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.9em; }
  #test-example .mb-button {
    margin-bottom: 0 !important; }

#testimonials {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 20px;
  padding-left: 20px; }
  #testimonials .section-title {
    text-align: center;
    color: #33373a;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px; }
  #testimonials .section-subtitle {
    text-align: center;
    color: #33373a;
    font-size: 16px;
    font-weight: 300; }
  #testimonials .each {
    border: 1px solid #ededed;
    border-radius: 20px;
    padding: 40px;
    background-color: white; }
    #testimonials .each .testimonial-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: white; }
      #testimonials .each .testimonial-header .logo {
        width: 80px; }
        #testimonials .each .testimonial-header .logo.profile {
          border-radius: 50%; }
      #testimonials .each .testimonial-header .texts {
        text-align: right; }
        #testimonials .each .testimonial-header .texts .title {
          color: #33373a;
          font-weight: bold;
          text-align: right; }
        #testimonials .each .testimonial-header .texts .subtitle {
          color: #007bff;
          font-weight: 300;
          text-align: right;
          font-size: 14px;
          font-weight: bold; }
          #testimonials .each .testimonial-header .texts .subtitle.second {
            font-weight: 100; }
    #testimonials .each .p_container .desc {
      color: #33373a;
      font-size: 16px;
      line-height: 1.8em;
      text-align: right;
      font-weight: 300; }
      #testimonials .each .p_container .desc.long {
        font-size: 12px;
        line-height: 1.6em; }
      #testimonials .each .p_container .desc.short {
        font-size: 17px;
        line-height: 2em; }
      #testimonials .each .p_container .desc.english {
        text-align: left;
        direction: ltr; }

#teams {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 300px;
  padding-left: 300px; }
  @media (max-width: 1440px) {
    #teams {
      padding-right: 60px;
      padding-left: 60px; } }
  @media (max-width: 1024px) {
    #teams {
      padding-right: 20px;
      padding-left: 20px; } }
  @media (max-width: 768px) {
    #teams {
      padding-right: 20px;
      padding-left: 20px; } }
  #teams .section-title {
    text-align: center;
    color: #33373a;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 60px; }
  #teams .image {
    display: block;
    margin: 25px auto;
    width: 500px; }
    @media (max-width: 425px) {
      #teams .image {
        width: 280px; } }
  #teams .flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-wrap: wrap; }
    #teams .flex-row .each {
      margin: 15px;
      border: 1px solid #ededed;
      padding: 30px;
      text-align: center;
      width: 430px;
      border-radius: 20px;
      transition: all 100ms ease-in-out; }
      @media (max-width: 425px) {
        #teams .flex-row .each {
          width: 380px; } }
      @media (max-width: 375px) {
        #teams .flex-row .each {
          width: 300px; } }
      #teams .flex-row .each .icon {
        font-size: 40px;
        color: #007bff;
        margin-bottom: 30px; }
      #teams .flex-row .each .title {
        color: #33373a;
        font-size: 16px;
        font-weight: bold; }
      #teams .flex-row .each .desc {
        color: #33373a;
        font-size: 14px;
        font-weight: 300; }
      #teams .flex-row .each .link {
        color: #007bff;
        font-size: 14px;
        display: block;
        margin: 10px auto;
        text-align: center; }
        #teams .flex-row .each .link i {
          display: inline-block;
          font-size: 20px;
          margin-right: 10px;
          vertical-align: middle; }
      #teams .flex-row .each:hover {
        box-shadow: 0px 3px 16px 4px rgba(0, 0, 0, 0.04); }

#cards {
  padding-top: 60px;
  padding-bottom: 60px; }
  #cards .cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-wrap: wrap; }
    #cards .cards-container .f-card {
      transition: all 100ms ease-in-out;
      border-radius: 20px;
      position: relative;
      margin-bottom: 30px;
      padding: 20px;
      width: 500px;
      margin: 20px;
      height: 300px;
      background: linear-gradient(-45deg, #0037ff, #007bff); }
      #cards .cards-container .f-card .title {
        text-align: right;
        font-weight: 800;
        color: white;
        transition: all 100ms ease-in-out; }
      #cards .cards-container .f-card .desc {
        text-align: right;
        font-weight: 300;
        color: white;
        padding-bottom: 60px;
        transition: all 100ms ease-in-out; }
      #cards .cards-container .f-card .image {
        width: 300px;
        position: absolute;
        top: -150px;
        left: -150px; }
      #cards .cards-container .f-card .link {
        color: white;
        position: absolute;
        left: 30px;
        bottom: 30px; }
        #cards .cards-container .f-card .link i {
          display: inline-block;
          font-size: 20px;
          margin-right: 10px;
          vertical-align: middle; }
      #cards .cards-container .f-card:hover {
        box-shadow: 0px 3px 16px 4px rgba(0, 0, 0, 0.3); }

#features {
  padding-top: 120px;
  padding-bottom: 160px;
  background: url("../img/footer.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding-right: 20px;
  padding-left: 20px; }
  @media (max-width: 425px) {
    #features {
      padding-bottom: 20px; } }
  #features .section-title {
    text-align: center;
    color: #33373a;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 60px; }
  #features .section-paragraph {
    text-align: center;
    color: #33373a;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 60px; }
  #features .cards-container {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-wrap: wrap; }
    #features .cards-container .each-card {
      border: 1px solid #ededed;
      border-radius: 20px;
      background-color: white;
      margin: 15px;
      width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      align-self: center;
      padding: 40px;
      transition: all 100ms ease-in-out;
      height: 250px; }
      #features .cards-container .each-card .icon {
        font-size: 45px;
        color: #007bff;
        text-align: center;
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
        transition: all 100ms ease-in-out; }
      #features .cards-container .each-card .title {
        font-size: 16px;
        text-align: center;
        font-weight: 800;
        color: #33373a;
        margin-bottom: 30px;
        transition: all 100ms ease-in-out; }
      #features .cards-container .each-card .desc {
        font-size: 12px;
        font-weight: 300;
        color: #33373a;
        text-align: center;
        transition: all 100ms ease-in-out; }

#blog {
  padding-top: 20px;
  padding-bottom: 60px;
  padding-right: 20px;
  padding-left: 20px; }
  #blog .section-title {
    text-align: center;
    color: #33373a;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 60px; }
  #blog .blog-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    #blog .blog-container .blogpost {
      margin: 20px;
      border: 1px solid #ededed;
      padding-bottom: 15px;
      border-radius: 20px;
      width: 300px;
      height: 480px; }
      @media (max-width: 425px) {
        #blog .blog-container .blogpost {
          width: 350px; } }
      #blog .blog-container .blogpost .image {
        width: 100%;
        border-radius: 20px 20px 0 0; }
      #blog .blog-container .blogpost .blog-content {
        padding: 20px; }
        #blog .blog-container .blogpost .blog-content .title {
          color: #33373a;
          font-weight: 800;
          font-size: 16px;
          text-align: right;
          margin-top: 30px; }
        #blog .blog-container .blogpost .blog-content .desc {
          color: #33373a;
          text-align: right;
          font-weight: 300;
          margin-bottom: 30px; }
      #blog .blog-container .blogpost .blogpost-footer {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding-right: 10px;
        padding-left: 10px; }
        #blog .blog-container .blogpost .blogpost-footer .date {
          color: #868e96;
          display: inline-block;
          font-weight: 300; }
        #blog .blog-container .blogpost .blogpost-footer .link {
          color: #007bff;
          display: inline-block; }

#customers {
  padding-top: 100px;
  padding-bottom: 100px;
  background: url("../img/middle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  @media (max-width: 425px) {
    #customers {
      padding: 20px; } }
  #customers .section-title {
    text-align: center;
    color: #33373a;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 60px; }
  #customers .customers {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-wrap: wrap; }
    #customers .customers .testimonial-link .each {
      border: 1px solid #ededed;
      background-color: white;
      border-radius: 20px;
      padding: 20px;
      text-align: center;
      width: 300px;
      display: flex;
      align-items: center;
      margin: 15px;
      justify-content: space-between;
      transition: all 100ms ease-in-out; }
      @media (max-width: 425px) {
        #customers .customers .testimonial-link .each {
          width: 150px;
          flex-direction: column;
          height: 180px; } }
      #customers .customers .testimonial-link .each .logo {
        width: 70px;
        transition: all 100ms ease-in-out; }
        @media (max-width: 425px) {
          #customers .customers .testimonial-link .each .logo {
            margin-bottom: 30px; } }
      #customers .customers .testimonial-link .each .title {
        color: #868e96;
        font-size: 14px;
        font-weight: 500;
        margin: 0; }
    #customers .customers .testimonial-link:hover .each {
      box-shadow: 0px 3px 16px 4px rgba(0, 0, 0, 0.04); }

.owl-stage-outer {
  padding-top: 20px;
  padding-bottom: 20px; }

.owl-carousel .owl-item.big div {
  z-index: 2; }

.owl-carousel .owl-item.big .each {
  box-shadow: 0px 3px 16px 4px rgba(0, 0, 0, 0.04); }

.owl-carousel .owl-item.medium div {
  position: relative;
  opacity: 0.8; }

.nav_arrow {
  width: 25px;
  vertical-align: middle;
  padding: 2px; }

.owl-theme .owl-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  @media (max-width: 425px) {
    .owl-theme .owl-nav {
      justify-content: space-between; } }

.owl-theme .owl-nav [class*='owl-']:hover {
  outline: none; }

.owl-theme .owl-nav {
  margin-bottom: 30px !important; }

.owl-theme .owl-nav button {
  outline: none !important;
  background: rgba(0, 0, 0, 0.2) !important;
  border-radius: 50px !important;
  width: 40px !important;
  height: 40px !important;
  padding: 10px !important;
  display: block;
  margin: 0 auto; }

.owl-theme .owl-dots .owl-dot {
  outline: none !important; }

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #007bff !important;
  outline: none !important; }
